h2 {
 font-weight: 400;
 font-size: 22px;
font-family: "Revalia";
  font-weight: 400;
  font-style: normal;
  color: #5E2BFF;
  margin: 0;
}
.toolbar {
 padding: 15px 2.5%;
     /* box-shadow: 0 0 5px 0px #d5d5d5; */
     border-bottom: 3px solid #5E2BFF;
     margin-bottom: 15px;
}