h1 {
 font-size: 36px;
 margin-bottom: 16px;
 font-weight: 600;
}
.container {
 margin-top: 35px;
 position: relative;
 display: flex;
 justify-content: space-between;
}
.c {
 display: flex;
 justify-content: space-between;
}
.prod {
    width: 28%;
        background-color: #e5ddd2;
    padding: 15px;
    border-radius: 7px;
    position: sticky;
    flex-shrink: 0;
    top: 20px;
    bottom: 20px;
    height: fit-content;
}
.prod h2 {
  margin: 0 0 5px;
}
.prod img {
  margin-top: 15px;
  border-radius: 7px;
}
.prod .btn {
  background-color: #f7f7f7;
  color: #bf0405;
  width: 100%;
  text-align: center;
}
.text-cont {
 width: 100%;
}
h3, h2 {
 margin: 25px 0 15px;
}
img {
 width: 100%;
 margin-bottom: 15px;
 display: block;
}
.product-title {
 color: #4d0000;
}
.main {
   width: 70%;
}
.he {
    width: 20px;
    height: 8px;
}
.product p {
 font-size: 17px;
}
a.btn {
    background-color: #bf0405;
    color: white;
    padding: 15px 45px;
    display: block;
    width: fit-content;
    border-radius: 4px;
    font-size: 18px;
 margin-top: 15px;
   }
   .btn-2 {
    background-color: #1a73e8 !important;
   }
.btn-cont {
 display: flex;
  justify-content: start;
    width: 90%
}

.btn-cont a:nth-child(2) {
    margin-left: 15px;
}
.faq-item h3 {
    margin: 15px 0 5px;
}
.faq-item {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}
.product h4 {
    margin: 25px 0 10px;
}
ul {
    margin: 0 0 25px;
}
.product {
    margin-bottom: 25px;
}
ul {
 padding-left: 17px;
}
h4 {
    margin: 15px 0 10px;
    font-size: 18px;
}
table {
 width: 100%;
      border-collapse: collapse;
      background-color: #fff;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      overflow: hidden;
    }

    thead {
      background-color: #f7f7f7;
    }

    th, td {
      padding: 8px 16px;
      text-align: left;
      border: 1px solid #1a73e8;
    }

    th {
      font-weight: 600;
      color: #ffffff;
      background-color: #1a73e8;
      border-left: 1px solid #ffffff !important;
    }

    tr:hover {
      background-color: #f0f8ff;
    }

    a {
      text-decoration: none;
      color: #1a73e8;
      font-weight: 500;
    }

    a:hover {
      text-decoration: underline;
    }
/* 
    @media (max-width: 768px) {
      table, thead, tbody, th, td, tr {
        display: block;
      }

      th {
        display: none;
      }

      td {
        position: relative;
        padding-left: 50%;
        text-align: right;
        border: none;
        border-bottom: 1px solid #ddd;
      }

      td::before {
        content: attr(data-label);
        position: absolute;
        left: 16px;
        width: 45%;
        padding-right: 10px;
        font-weight: bold;
        text-align: left;
        color: #666;
      }
    } */


@media only screen and (max-width: 1125px){
  h1 {
    font-size: 27px;
  }
}


@media only screen and (max-width: 880px){
  .container {
    display: block;
  }
  .main {
    width: 100%;
  }
  .prod {
    width: 100%;
    margin-bottom: 15px;
            position: revert;
  }
}

@media only screen and (max-width: 600px){
  .btn-cont {
    width: 100%;
    display: block;
  }
  .btn-cont a:nth-child(2) {
    margin-left: 0;
  }
  th, td {
    padding: 4px 8px;
  }
  .btn {
    width: 100% !important;
    text-align: center;
}
}