<app-toolbar class="toolbar"></app-toolbar>
<header>
  <div class="cont">
  <div class="text-cont">
    <div>
      <h1>Why Every It-Girl is Wearing These Y2K Cat Eye Sunnies This Summer
</h1>
    <p class="subtitle">
      These Retro Oval Sunglasses aren’t just cute – they’re a whole ✨vibe✨. 
Sleek, light, and viral all over TikTok – this is *the* hot girl summer essential.  
    </p>
    </div>
    <div class="viral">
       <h3 style="margin-top: 1.2rem;">✨ What Makes Them Go Viral:</h3>
  <ul style="list-style: none; padding-left: 0;">
    <li>🌞 <strong>99% UV Protection</strong> – Look fab while shielding your eyes</li>
    <li>😌 <strong>Super Lightweight</strong> – You’ll forget you’re wearing them</li>
    <li>💖 <strong>Snatched Fit</strong> – Especially flattering on small faces</li>
    <li>💸 <strong> Affordable + trendy</strong> = instant add to cart</li>
    <li>🔥 <strong>Amazon’s Choice</strong> – Over 2,000+ sold this month!</li>
  </ul>
   <p class="cta">No matter your vibe — <em>soft girl, Y2K baddie, retro minimalist</em> — these shades bring the look together. </p>
    </div>
   <!-- <img src="./assets/retro1.png" class="product" alt=""> -->
   <div class="btn-vont">
    <img src="./assets/retro1st.png"  alt="">
    <a href="https://amzn.to/4kMPeul" class="btn"> Add to Cart & Shine All Summer</a>
   </div>
  </div>
<div class="img-cont">
  <img src="./assets/retro.png" class="" alt="">
</div>
</div>
</header>