<app-toolbar class="toolbar"></app-toolbar>
<header>
  <div class="cont">
  <div class="text-cont">
    <div>
      <h1>Retro Oval Cat Eye Sunglasses</h1>
    <p class="subtitle">
      for Women Y2k Trendy Narrow Sunnies Designer Sun Glasses 
    </p>
    </div>
   <img src="./assets/retro1.png" class="product" alt="">
   <div class="btn-vont">
    <img src="./assets/retro1st.png"  alt="">
    <a href="https://amzn.to/4kMPeul" class="btn">Buy Now</a>
   </div>
  </div>
<div class="img-cont">
  <img src="./assets/retro.png" class="" alt="">
</div>
</div>
</header>