<app-toolbar class="toolbar"></app-toolbar>
<header>
  <div class="cont">
  <div class="text-cont">
    <div>
      <h1>Viral Beauty Inspo</h1>
    <p class="subtitle">
      Discover the trendiest Amazon beauty & fashion finds loved
       by influencers and rated by real people.
       From viral cat-eye sunnies to must-have makeup — glam your
        day with style that sells.
    </p>
    </div>
    <div class="nav">
      <div class="nav-item">
        <p>Sunglasses</p>
        <p>Haircare & Styling</p>
      </div>
      <div class="nav-item nav-item-sp">
        <p>Lipsticks & Gloss</p>
        <p>Beauty Tools</p>
        <p>Nail Inspo</p>
      </div>
      <div class="nav-item">
        <p>Skincare & Glow</p>
        <p>Accessories</p>
      </div>
    </div>
  </div>
<div class="img-cont">
  <img src="./assets/d2d.jpg" class="desktop" alt="">
  <img src="./assets/d3d.jpg" class="mobile" alt="">
  <img src="./assets/img.jpg" class="mob" alt="">
</div>
</div>
</header>