<app-toolbar></app-toolbar>
<!-- <div class="container">
 <h1>🧡 Viral Summer Dress Everyone's Asking About...</h1>
</div> -->
<div class="col">
<div class="container">
 <div class="prod-cont">
  <h1>Viral Summer Dress Everyone's Asking About...</h1>
 <div class="img">
   <img class="hero-img" src="./assets/blog/02/brown-dress.png" alt="Woman in brown tie-waist bodycon summer dress with cap and coffee cup">

  <div class="details">
   <img src="https://m.media-amazon.com/images/I/71vDxd66LTL._AC_SY741_.jpg" alt="">
   <img src="https://m.media-amazon.com/images/I/81AqtZ1fOnL._AC_SY741_.jpg" alt="">
   <!-- <img src="https://m.media-amazon.com/images/I/612iqWMUa-L._AC_SY741_.jpg" alt=""> -->
  </div>

  <div class="details det2">
   <img src="https://m.media-amazon.com/images/I/81XWi602viL._AC_SY741_.jpg" alt="">
   <img src="https://m.media-amazon.com/images/I/71aOmAWEUDL._AC_SY741_.jpg" alt="">
   <!-- <img src="https://m.media-amazon.com/images/I/612iqWMUa-L._AC_SY741_.jpg" alt=""> -->
  </div>
 </div>

  <p>Found this dreamy tie-waist mini dress and couldn’t believe how flattering it is! Perfect for brunch, vacation or city walks. And yep — it’s on Amazon 👀</p>
      <a class="btn" href="https://amzn.to/3U9Gna9"  rel="nofollow noopener">Shop the Dress on Amazon →</a>
      <p class="disclosure">This page contains affiliate links. I may earn a small commission at no extra cost to you. Thanks for supporting 💕</p>
 
 </div>
</div>
</div>


<app-footer></app-footer>